body{
    background: #FB803B;

    
  }
  /* This adds a orange background to the body*/

  .image-conatiner{
    position: relative;

  }
  /* Positions the image*/
 

  .top-right{
        position: absolute;
        top: 8px;
        right: 60%;
        font-family: 'Horizon';
        font-size: large;
        font-size: 50px;

    }
    /*In this i styled the the text with adding fonts,colors, and size and even adjusting the position*/

    .text-overlay {
        position: absolute;
        top: 4%;
        left: 40%;
        display: flex;  
        color: aliceblue;
        text-shadow: 0px 4px 10px rgb(0, 0, 0)
       
       
    }

    .right-align{
      position: absolute;
      top: 200px;
      left:35%;
      font-family: 'Gideon Roman';
      font-style: normal;
      text-shadow: 2px;
      font-weight: 40;
      font-size: 27px;
      text-align: left;
      color: aliceblue;
      
    }
    /* This is for the paragraph ,I right alligned it added slighttext shadows and etc.*/

    .bottom{
      position: absolute;
        font-family: 'Horizon';
        font-size: large;
        top: 189%;
        font-size: 50px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 4px 10px rgb(0, 0, 0)
    }

.bottom-right{
  position: relative;
  left: 500px;
  bottom: 345px;
  width: 1px;
  filter: hue-rotate(120deg);
}




.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
  margin-bottom:2%;
 width: 216px;
}
 /* Styling the nav bar.*/

 .topnav a:hover {
  background-color: white;
  color: black;
 }
/* Adding hover effects*/
 .footer {
  position:absolute;
  left: 0;
  margin-bottom: 0px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-family: "Horizon";
}
/* Styling the footer with a background color of white*/