*{
  background: #FB803B;
  
}
/* This adds a orange background to the body*/

.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 background-color: black;
 margin-bottom:20%;
 width: 279px;
}
/*Styling the nav bar */

.topnav a:hover {
 background-color: white;
 color: black;
}
/* Adds an hover effect twhen the the cursor is moved across the nav bar */

.topnav-right {
 float: right;
}

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.image-with-background{
 
  display:inline-block;
  background-color: black;
  height: 50%;
  padding: 20px;
}
/* This part adds a black color background the png image*/

.top-image {
 margin-top: 0%;
}
/* helps to position the image*/

.middle-nav {
 order: 1;
}
